<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/css/styles.min.css">
    <link rel="stylesheet" href="../../dist/css/tailwind.css">
    <title>BILATERAL</title>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="../../vendor/fontawesome/css/all.min.css">

    <!-- Load jQuery -->
    <script type="text/javascript" src="../../vendor/jQuery/jquery-3.4.1.min.js"></script>
</head>

<body>
<div class="main-layout" id="app">
    <!-- Start Main Sidebar -->
    <div class="main-sidebar bg-dark">
        <div class="main-sidebar-head">
            <div class="main-sidebar__icon"></div>
            <div class="main-sidebar__title font-proxima-bold text-lg text-white uppercase">
                Bilateral
            </div>
        </div>
        <div class="main-sidebar-menu">
            <div class="main-sidebar-menu__item">
                <p class="main-sidebar-menu__title">Dashboard</p>
                <ul>
                    <li>
                        <a href="table-makro.html">
                            <i class="bilateral-icon office"></i>
                            <span>Data Makro APBN</span>
                        </a>
                    </li>
                    <li>
                        <a href="./outstanding/index.html">
                            <i class="bilateral-icon graph"></i>
                            <span>Data Outstanding Utang</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <i class="bilateral-icon handshake active"></i>
                            <span>Portofolio Proyek Bilateral</span>
                        </a>
                    </li>
                    <li>
                        <a href="segrakan/index.html">
                            <i class="bilateral-icon segrakan"></i>
                            <span>Segrakan</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main-sidebar-menu__item">
                <p class="main-sidebar-menu__title">Master Data</p>
                <ul>
                    <li>
                        <a href="#">Program</a>
                    </li>
                    <li>
                        <a href="#">Bidang</a>
                    </li>
                    <li>
                        <a href="#">Kementrian / Lembaga</a>
                    </li>
                    <li>
                        <a href="#">Cluster</a>
                    </li>
                    <li>
                        <a href="#">Lender</a>
                    </li>
                    <li>
                        <a href="#">Status Proyek</a>
                    </li>
                    <li>
                        <a href="#">Lokasi</a>
                    </li>
                    <li>
                        <a href="#">Kurs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Main Sidebar -->
    <!-- Start Main Content -->
    <div class="main-content">
        <!-- Start Navbar -->
        <div class="main-header">
            <div class="main-header-title font-proxima-bold text-default">Portofolio Proyek Bilateral</div>
            <div class="main-header-menu main-header-menu--right">
                <div class="main-header-menu__item border-r border-l border-soft-gray h-full">
                    <div class="form-search form-input-group h-full">
                        <div class="form-input-group-prepend">
                            <div class="input-group-text border-none">
                                <i class="bilateral-icon search"></i>
                            </div>
                            <input type="text" class="form-input bg-transparent border-none" placeholder="Cari...">
                        </div>
                    </div>
                </div>
                <div class="main-header-menu__item">
                    <div class="dropdown cursor-pointer">
                        <div class="dropdown-button has-icon">
                            <img src="../../assets/images/user.svg" class="main-header__profile-image"/>
                        </div>
                        <div class="dropdown-content">
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Profile</a>
                                </li>
                                <li>
                                    <a href="#">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar -->
        <!-- Start Content Page -->
        <div class="main-body">
            <section class="section--with-padding">
                <div class="grid gap-6">
                    <div class="card">
                        <div class="card-header card-header--has-divider bg-light-gray">
                            <div class="flex">
                                <div class="flex w-10 items-center">
                                    <i class="fas fa-list"></i>
                                </div>
                                <div class="w-full">
                                    <div class="card-header__subtitle font-proxima-semi-bold">Langkah 5 / 14</div>
                                    <div class="card-header__title">Lingkup Proyek</div>
                                </div>
                            </div>

                        </div>
                        <div class="card-body overflow-hidden">
                            <div class="mb-8">
                                <p class="text-sm text-gray">Jelaskan Komponen dan Volume kegiatan. Misalnya: Jasa
                                    Konsultasi, Konstruksi dan Pengadaan Barang</p>
                            </div>
                            <div class="flex">
                                <div class="form-text text-lg mb-3">Jasa Konsultan</div>
                            </div>
                            <div class="grid grid-cols-8" v-for="(data, index) in consult">
                                <div>
                                    <p v-if="index === 0" class="form-text">Volume</p>
                                    <input type="text" v-model="data.volume" class="form-input border-r-0"
                                           placeholder="0">
                                </div>
                                <div>
                                    <p v-if="index === 0" class="form-text">Nilai (USD)</p>
                                    <input type="text" v-model="data.value_usd" class="form-input border-r-0"
                                           placeholder="0">

                                </div>
                                <div class="col-span-2">
                                    <p v-if="index === 0" class="form-text">Nilai (RMP)</p>
                                    <input type="text" v-model="data.value_usd" class="form-input border-r-0"
                                           placeholder="0">
                                </div>
                                <div class="col-span-4">
                                    <p v-if="index === 0" class="form-text">Keterangan</p>
                                    <div :class="`form-input-group-append ${(index === 0) ? ' border-r border-soft-gray' : ''}`">
                                        <input v-model="data.description" type="text" class="form-input"
                                               placeholder="Masukkan Keterangan">
                                        <div class="input-group-text " v-if="index > 0" @click="removeConsult(index)">
                                            <i class="fa fa-trash-alt text-danger"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="form-note flex-1"></div>
                                <div @click="addConsult"
                                     class="w-24 text-right cursor-pointer text-secondary font-proxima-light">
                                    <span class="text-sm">+</span><span
                                        class="text-xs font-proxima-bold"> Tambah data</span>
                                </div>
                            </div>

                            <!-- divider -->
                            <div class="-mr-8 -ml-8 my-8">
                                <hr class="border-soft-gray">
                            </div>
                            <!-- end of divider -->

                            <div class="flex">
                                <div class="form-text text-lg mb-3">Pekerjaan Konstruksi</div>
                            </div>
                            <div class="grid grid-cols-8" v-for="(data, index) in construction">
                                <div>
                                    <p v-if="index === 0" class="form-text">Volume</p>
                                    <input type="text" v-model="data.volume" class="form-input border-r-0"
                                           placeholder="0">
                                </div>
                                <div>
                                    <p v-if="index === 0" class="form-text">Nilai (USD)</p>
                                    <input type="text" v-model="data.value_usd" class="form-input border-r-0"
                                           placeholder="0">

                                </div>
                                <div class="col-span-2">
                                    <p v-if="index === 0" class="form-text">Nilai (RMP)</p>
                                    <input type="text" v-model="data.value_usd" class="form-input border-r-0"
                                           placeholder="0">
                                </div>
                                <div class="col-span-4">
                                    <p v-if="index === 0" class="form-text">Keterangan</p>
                                    <div :class="`form-input-group-append ${(index === 0) ? ' border-r border-soft-gray' : ''}`">
                                        <input v-model="data.description" type="text" class="form-input"
                                               placeholder="Masukkan Keterangan">
                                        <div class="input-group-text " v-if="index > 0"
                                             @click="removeConstruction(index)">
                                            <i class="fa fa-trash-alt text-danger"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="form-note flex-1"></div>
                                <div @click="addConstruction"
                                     class="w-24 text-right cursor-pointer text-secondary font-proxima-light">
                                    <span class="text-sm">+</span><span
                                        class="text-xs font-proxima-bold"> Tambah data</span>
                                </div>
                            </div>

                            <!-- divider -->
                            <div class="-mr-8 -ml-8 my-8">
                                <hr class="border-soft-gray">
                            </div>
                            <!-- end of divider -->

                            <div class="flex">
                                <div class="form-text text-lg mb-3">Pengadaan Barang</div>
                            </div>
                            <div class="grid grid-cols-8" v-for="(data, index) in procurement">
                                <div>
                                    <p v-if="index === 0" class="form-text">Volume</p>
                                    <input type="text" v-model="data.volume" class="form-input border-r-0"
                                           placeholder="0">
                                </div>
                                <div>
                                    <p v-if="index === 0" class="form-text">Nilai (USD)</p>
                                    <input type="text" v-model="data.value_usd" class="form-input border-r-0"
                                           placeholder="0">

                                </div>
                                <div class="col-span-2">
                                    <p v-if="index === 0" class="form-text">Nilai (RMP)</p>
                                    <input type="text" v-model="data.value_usd" class="form-input border-r-0"
                                           placeholder="0">
                                </div>
                                <div class="col-span-4">
                                    <p v-if="index === 0" class="form-text">Keterangan</p>
                                    <div :class="`form-input-group-append ${(index === 0) ? ' border-r border-soft-gray' : ''}`">
                                        <input v-model="data.description" type="text" class="form-input"
                                               placeholder="Masukkan Keterangan">
                                        <div class="input-group-text " v-if="index > 0" @click="addProcurement(index)">
                                            <i class="fa fa-trash-alt text-danger"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="form-note flex-1"></div>
                                <div @click="removeProcurement"
                                     class="w-24 text-right cursor-pointer text-secondary font-proxima-light">
                                    <span class="text-sm">+</span><span
                                        class="text-xs font-proxima-bold"> Tambah data</span>
                                </div>
                            </div>

                            <!-- divider -->
                            <div class="-mr-8 -ml-8 my-8">
                                <hr class="border-soft-gray">
                            </div>
                            <!-- end of divider -->

                            <div class="flex">
                                <div class="form-text text-lg mb-3">Lainnya</div>
                            </div>
                            <div class="grid grid-cols-8" v-for="(data, index) in other">
                                <div>
                                    <p v-if="index === 0" class="form-text">Volume</p>
                                    <input type="text" v-model="data.volume" class="form-input border-r-0"
                                           placeholder="0">
                                </div>
                                <div>
                                    <p v-if="index === 0" class="form-text">Nilai (USD)</p>
                                    <input type="text" v-model="data.value_usd" class="form-input border-r-0"
                                           placeholder="0">

                                </div>
                                <div class="col-span-2">
                                    <p v-if="index === 0" class="form-text">Nilai (RMP)</p>
                                    <input type="text" v-model="data.value_usd" class="form-input border-r-0"
                                           placeholder="0">
                                </div>
                                <div class="col-span-4">
                                    <p v-if="index === 0" class="form-text">Keterangan</p>
                                    <div :class="`form-input-group-append ${(index === 0) ? ' border-r border-soft-gray' : ''}`">
                                        <input v-model="data.description" type="text" class="form-input"
                                               placeholder="Masukkan Keterangan">
                                        <div class="input-group-text " v-if="index > 0" @click="removeOther(index)">
                                            <i class="fa fa-trash-alt text-danger"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="form-note flex-1"></div>
                                <div @click="addOther"
                                     class="w-24 text-right cursor-pointer text-secondary font-proxima-light">
                                    <span class="text-sm">+</span><span
                                        class="text-xs font-proxima-bold"> Tambah data</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="flex justify-between">
                                <div>
                                    <button type="button"
                                            class="btn btn-md btn-default hover:bg-secondary text-secondary font-proxima-bold">
                                        Simpan
                                    </button>
                                </div>
                                <div class="flex">
                                    <a href="screen_2_5.html"
                                       class="btn btn-md mr-3 btn-default hover:bg-secondary text-secondary font-proxima-bold">
                                        Sebelumnya
                                    </a>
                                    <a href="screen_2_7.html" class="btn btn-md btn-secondary font-proxima-bold">
                                        Berikutnya
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- End Content Page -->
    </div>
    <!-- End Main Content -->
</div>

<script src="../../dist/js/components.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            consult: [{
                name: "",
                value_usd: "",
                value_rmp: "",
                description: "",
                id: ""
            }],
            construction: [{
                name: "",
                value_usd: "",
                value_rmp: "",
                description: "",
                id: ""
            }],
            procurement: [{
                name: "",
                value_usd: "",
                value_rmp: "",
                description: "",
                id: ""
            }],
            other: [{
                name: "",
                value_usd: "",
                value_rmp: "",
                description: "",
                id: ""
            }]
        },
        methods: {
            addConsult() {
                this.consult.push({
                    name: "",
                    value_usd: "",
                    value_rmp: "",
                    description: "",
                    id: ""
                })
            },

            removeConsult(index) {
                this.consult.splice(index, 1)
            },

            addProcurement() {
                this.procurement.push({
                    name: "",
                    value_usd: "",
                    value_rmp: "",
                    description: "",
                    id: ""
                })
            },

            removeProcurement(index) {
                this.procurement.splice(index, 1)
            },

            addConstruction() {
                this.construction.push({
                    name: "",
                    value_usd: "",
                    value_rmp: "",
                    description: "",
                    id: ""
                })
            },

            removeConstruction(index) {
                this.construction.splice(index, 1)
            },

            addOther() {
                this.other.push({
                    name: "",
                    value_usd: "",
                    value_rmp: "",
                    description: "",
                    id: ""
                })
            },

            removeOther(index) {
                this.other.splice(index, 1)
            }
        }
    })
</script>
</body>
